/* Mobile styles
==========================================
==========================================*/

/* Projects */

.project-group {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  margin-top:40px;
}

.project {
  width: 100%;
}

.project-img {
  width: 100%;
}

.project-button {
  display: block;
  margin: auto;
  border: none;
  background-color: var(--color-accent-blue);
  color: var(--color-white );
  border-radius: 10px;
  padding: 10px;
  font-size: large;
  cursor: pointer;
}

/* Modals */
  .modal-paint {
    width: 50%;
    /* margin-top: -50px; */
  }
  .modal-tech-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  /* individual technologies */
  .modal-tech-list>p {
    background-color: var(--color-accent-blue);
    color: var(--color-white);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #swal2-html-container {
    display: flex !important;
    flex-direction: column;
  }


/* Tablet/Laptop/Desktop styles
==========================================
==========================================*/
@media (min-width: 768px) {
  /* Projects */

  .project-group {
    grid-template-columns: repeat(2, 1fr);
  }
}
